################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/myEnergyUsage/bin/Debug
/myEnergyUsage/bin/Release
/myEnergyUsage/obj
/Data/2026
